<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!--
    *
    * (c) Copyright Ascensio System SIA 2024
    *
    * Licensed under the Apache License, Version 2.0 (the "License");
    * you may not use this file except in compliance with the License.
    * You may obtain a copy of the License at
    *
    *     http://www.apache.org/licenses/LICENSE-2.0
    *
    * Unless required by applicable law or agreed to in writing, software
    * distributed under the License is distributed on an "AS IS" BASIS,
    * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    * See the License for the specific language governing permissions and
    * limitations under the License.
    *
    -->

    <title>ONLYOFFICE Document Builder</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:900,800,700,600,500,400,300&subset=latin,cyrillic-ext,cyrillic,latin-ext"/>
    @Styles.Render("~/Content/css")
</head>
<body>
    <header>
        <img src="~/images/logo.png" alt="ONLYOFFICE" />
    </header>
    @RenderBody()
    <footer>&copy; Ascensio System SIA 2024. All rights reserved.</footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scripts")
    <script>
        $(function () {

            ActionUrl.Upload = '@Url.Action("Upload", "Home")';
            ActionUrl.Generate = '@Url.Action("Generate", "Home")';
            ActionUrl.Create = '@Url.Action("Create", "Home")';
            ActionUrl.Download = '@Url.Action("Download", "Home")';

            DocumentBuilder.init();

        });
    </script>
</body>
</html>
